@import "reset";
@import "variables";
@import "mixins";

#main-nav {
    background: $deepBlues;

    ul {
        width: 100%;
        @include clearFix;
    }

    li {
      width: (100% / 6);
      float: left;
      @include mediaQuery(650px) {
        width: 100%;
      }
      @include mediaQuery(400px) {
        background-color: rgb(13, 120, 88);
        font-weight: bold;
          transition: font-weight 0.5s;
      }
    }

    a {
      color: $offWhite;
      text-decoration: none;
      padding: 16px;
      display: block;
      text-align: center;

      &:hover {
        background: lighten($deepBlues, 60);
        color: $deepBlues;
        border-radius: 14px;
        padding: 8px;
        margin-top: 2px;
        transition: padding 0.4s;
        transition: margin-top 0.4s;
      }
    }
}

section h1 {
    font-size: $sectionHeading;
    color: $deepBlues;
}

.lead-banner {
  @include banner;
  text-align: right;
}

.lessons-banner {
  @include banner;
  li {
    text-transform: uppercase;
    font-size: 15px;
    max-width: 500px;
    margin: 20px 0;
  }
}

#services {

  margin-bottom: 30px;

  li {
    width: (100% / 3);
    float: left;
    box-sizing: border-box;
    display: absolute;
    text-align: center;
  }

  img {
    width: 70%;
    margin: 20px 10%;
  }

  a {
    text-decoration: none;
    color: $deepBlues;
    &:hover {
      color: $deepRed;
      font-weight: bolder;
    }
  }

  ul {
    @include clearFix;
  }

}

#projects {

  li {
    @include grid(6, 3%);
    box-sizing: border-box;
    text-align: center;
    color: $deepBlues;

    &:hover {
      padding: 7px;
      background: rgba(151, 176, 174, 0.82);
      transition: background 0.5s;
      color: rgb(187, 255, 230);
      font-weight: bold;
    }

    img {
      width: 100%;
    }
  }
}
